@tailwind base;
@tailwind components;
@tailwind utilities;



.pushable {
    position: relative;
    border: none;
    background: transparent;
    padding: 0;
    cursor: pointer;
    outline-offset: 4px;
    transition: filter 250ms;
  }
  .shadow {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 12px;
    background: hsl(0deg 0% 0% / 0.25);
    will-change: transform;
    transition:
      transform
      600ms
      cubic-bezier(.3, .7, .4, 1);
  }
  .edge {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 12px;
    background-color: aquamarine;
  }
  .pushable:hover {
    filter: brightness(110%);
  }
  .pushable:hover {
    transform: translateY(-6px);
    
    transition:
      transform
      250ms
      cubic-bezier(.3, .7, .4, 1.5);
  }
  .pushable:active {
    transform: translateY(-10px);
    transform: translateX(-10px);
    transition: transform 34ms;
  }
  .pushable:hover .shadow {
    transform: translateY(10px) translateX(-10px);
    transition:
      transform
      250ms
      cubic-bezier(.3, .7, .4, 1.5);
  }
  .pushable:active .shadow {
    transform: translateY(1px);
    transition: transform 34ms;
  }
  .pushable:focus:not(:focus-visible) {
    outline: none;
  }


  .pushable {
    transition: transform 0.3s ease;
  }

  .d{
    background: rgba(255, 255, 255, 0.1);
    box-shadow: 0 8px 32px 0 rgba(181, 181, 201, 0.37);
    backdrop-filter: blur( 2px );
    -webkit-backdrop-filter: blur( 4px );
    border-radius: 10px;
    border: 1px solid rgba(255, 255, 255, 0.99);
    
  }